<div class="well">
    <div class="row">
        <div class="col-sm-4">
            <img id="face" src="../static/img/paulo.jpg" style="display:none;" alt="...">
            <div class="thumbnail" ng-init="init()" ng-mousedown="mouseClick($event)" ng-mousemove="mouseDrag($event)" ng-mouseup="mouseUp()" ng-mouseleave="mouseUp()">
                <canvas style="width:100%;height:300px;"id="Canvas" resize></canvas>
            </div>
            <small>Feel free to draw on my face. </small>
        </div>
        <div class="col-sm-8">
            <div class="caption">
                <h2 class="title">Paulo Warren <h5 class="title">{{email}} - {{phone}}</h5></h2>
                
                <br>
                <p class="justified">{{about}}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="padding-right: 5%;">
            <div class="panel panel-default">
                <div class="panel-heading title"><h4>Projects</h4></div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <h3 class="list-group-item-heading title">Project 1 <a class="btn btn-sm btn-social-icon btn-github pull-right"><span class="fa fa-github"></span></a></h3>
                            <br>
                            <p class="list-group-item-text"></p>
                        </li>
                        <li class="list-group-item">
                            <h3 class="list-group-item-heading title">Project 2<a class="btn btn-sm btn-social-icon btn-github pull-right"><span class="fa fa-github"></span></a></h3>
                            <br>
                            <p class="list-group-item-text">{{angularText}}</p>
                        </li>
                        <li class="list-group-item">
                            <h3 class="list-group-item-heading title">Project 3<a class="btn btn-sm btn-social-icon btn-github pull-right"><span class="fa fa-github"></span></a></h3>
                            <br>
                            <p class="list-group-item-text">{{gamcincText}}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

