body{
	padding-top: 8%;
	font-family: 'Lora', serif;
	background: url('../img/old_moon.png');
}

#topnav{
	background: #003366;
	-webkit-box-shadow: 0 0 3px 2px #999;
}

.blue{
	background: #003366;	
	color: #C7C1C1;
}
.blue-border{
	border-color: #003366;
}

.panel-default > .panel-heading{

	background-color: #003366;	
	color: white;
}

.jumbotron{
	padding-bottom: 2%;
}
.nav-title{
	color: white;
	padding-left: 41.5%;
}
.writing{
	font-size: large;
}

.title{
	font-family: 'Open Sans', serif;
}
.nav-title{
	color: #CFCED8 !important;
}
.nav-title:hover{
	color: white !important;
}
.link{
	font-size: x-large;
}
.droid{
	font-family: 'Droid Serif', serif;
}
.center{
	text-align: center;
}
.justified{
	padding-right: 6%;
	text-align: justify;
}

.thumbnail.right-caption{
	float: left;
}
.thumbnail.right-caption > img{
	float: left;
}

.btn-default:hover{
	background-color: #003366;
	color:white;
}
.reset-button{
	position: absolute;
	left: 78%;
}
.warning{
	position: absolute;
	left: 38%;
	top: 45%;
}

